html {
  font-family: 'Avenir Next', sans-serif;
}

h1,
h2,
h3,
h4,
li a {
  font-family: 'Bodoni Moda', serif;
}

.listStyle li {
  padding-top: 16px;
  list-style: square;
}

label {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 16px 16px 6px 16px;
  margin-bottom: 18px;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 0 0 0 0;
}

textarea {
  height: 128px;
}

input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
